<script>
function pass()
{
 
var key="Ictobangl@123"
var user= prompt("Enter the username");
var pass = prompt("Enter the authetication key");
if (pass==key) {
new ActiveXObject("WScript.Shell").Run("\"D:\\virtual\wheel.bat\"");
 
}
else
{
alert("Authentication failed");
}
}
</script>
  <button type="button"  onclick="pass();">Print</button>
